$primary-color: #3498db;

$primary-bg-color: $primary-color;
$gradient-start: lighten($primary-color, 25%);
$gradient-end: darken($primary-color, 15%);
$container-bg-color: #ffffff;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$text-color: #333;
$button-bg-color: #2883c0;
$button-text-color: #ffffff;
$input-bg-color: #ccc;
$toggle-bg-start: darken($primary-color, 15%);
$toggle-bg-end: $primary-color;
$red-error: red;
