@import "../../../styles/variables";

.toggle_panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;

  &.toggle_left {
    transform: translateX(-200%);
  }

  &.active_left {
    transform: translateX(0);
  }

  &.toggle_right {
    right: 0;
    transform: translateX(0);
  }

  &.active_right {
    transform: translateX(200%);
  }

  h1 {
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
  }

  button {
    background-color: $button-bg-color;
    color: $button-text-color;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;
  }
  button:hover {
    transform: scale(1.04);
  }
  .hidden {
    background-color: transparent;
    border-color: $button-text-color;
  }
}
